<!DOCTYPE html>
<html class="{{section}}" lang="en_US">
  <head>
    <meta charset="utf-8" />  

    <!--KaTex-->
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css"
      integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv"
      crossorigin="anonymous"
    >
      <!-- The loading of KaTeX is deferred to speed up page rendering -->
      <script defer
        src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"
        integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O"
        crossorigin="anonymous">
      </script>
      <script defer
        src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js"
        integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF"
        crossorigin="anonymous" onload="renderMathInElement(document.body);">
      </script>
      <!-- /KaTeX -->

      <title>{{s_title}} - {{title}}</title>
      <link rel="stylesheet" href="{{s_root}}/_/style.css" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="keywords" content="aftix, projects, katex, notes" />
      <meta name="description" content="A place for my notes, projects, and documentation">
      <meta name="author" content="aftix">
  </head>⁠

  <body>
    <div class="wrapper" role="presentation">
      {{menu}}
      {{page}}
    </div>
  </body>
</html>
