<!-- page -->
<article class="content">
  {{posts}}
</article>
<footer class="foot">
  <div class="copyright">© 2018 aftix</div>
  <div class="li-img" role="presentation">
    <img class="fakeimg" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
  </div>
  <p class="license">This work is licensed under a
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
  </p>
</footer>
<!-- /page -->
