/* Top level elements */
@font-face {
  font-family: 'GidoleFont';
  src: url('/_/imgs/Gidole-Regular.tff') format('truetype');
  src: url('/_/imgs/Gidolinya-Regular.otf') format('opentype');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'GidoleFont', 'Helvitica', sans-serif;
}

/*Use the entire viewport for the page*/
html {
  height: 100vh;
}

body {
  height: 100%;
}

/*Flexbox fallback for browsers without CSS grids*/
/*Looks like the mobile site*/
.wrapper {
  background: #dbcac7;

  height: 100%;
  width: 100%;

  margin-top: -20px;

  display: grid;
  grid-template-columns: minmax(329px, 1fr);
  grid-template-rows: minmax(80px, 2.5fr) repeat(4, minmax(37px, 1fr)) minmax(468px, 20fr) minmax(auto, 1fr);
  grid-template-areas:
    "title"
    "nav"
    "nav"
    "nav"
    "nav"
    "main"
    "foot";
}

@media only screen and (min-width: 700px) {
  .wrapper:before {
    content: "";
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    background: url(/_/imgs/mountain.jpg) #dbcac7;
    background-size: 100vw 100vh;
    background-color: #FFCCCC;

    filter: blur(17px);
    background-blend-mode: multiply;
    z-index: -1;
}

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(41.125px, 1fr)) minmax(82.25px, 2fr) minmax(123.375px, 3fr);
    grid-template-rows: minmax(80px, 2fr) minmax(37px, 1fr) minmax(468px, 20fr) minmax(auto, 1fr);
    grid-template-areas:
      "title title title title title"
      "nav nav nav nav nav"
      "main main main main main"
      "foot foot foot foot foot";

    width: 80%;
    z-index: 1;

    margin-left: auto;
    margin-right: auto;
  }
}

@media only print {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .wrapper::before {
    display: none;
  }

  .top {
    flex-grow: 0;
    flex-basis: 10%;
  }

  nav {
    display: none;
    flex-basis: 0;
  }

  .content {
    flex-grow: 0;
    flex-shrink: 0;
  }

  html, body {
    height: auto;
  }
}
