/* Header */

.top {
  background: url(/_/imgs/grid.svg) #1c2c4e;
  background-position: center;
  background-blend-mode: multiply;

  padding-top: 1em;

  border-bottom: 1px solid #20020a;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-shrink: 0;

  grid-area: title;
  height: 100%;
}

.title {
  padding-left: 1.2em;
  padding-top: .7em;
  padding-bottom: .8em;

  flex-grow: 2;
  flex-shrink: 2;

  font-size: 20pt;

  color: #FFAB19;
}
