/* Nav Bar Styles */

nav {
  background: #1c2c4e;
  color: #FFAB19;

  padding-top: .5em;

  box-shadow: .1em -.1em 1em -.4em #20020a inset;

  font-size: 12pt;

  grid-area: nav;

  text-align: center;

  display: grid;
  grid-template-rows: repeat(5, minmax(23.36px, 1fr));
  grid-template-columns: minmax(329px, 1fr);
  grid-template-areas:
    "home"
    "notes"
    "projects"
    "doc"
    "source";
  grid-row-gap: .1em;
}

nav > a {
  cursor: pointer;

  padding-top: .25em;
  padding-bottom: .25em;

  box-shadow: none;
  text-shadow: none;

  background: #1c2c4e;
  color: inherit;

  border: none;

  text-decoration: none;

  font-size: 14pt;
}

nav > a:active,
nav > a:hover {
  background: #FFAB19;
  color: #20020a;
  box-shadow: 0.1em .5em 1em -.4em #1c2c4e inset;
  text-shadow: 0.05em 0.05em 0.1em #20020a;
}

nav > a:visited,
nav > a:link {
  text-decoration: none;
  color: inherit;
}

nav > a:visited:hover,
nav > a:link:hover {
  color: #1c2c4e;
}

.home {
  grid-area: home;
}

.notes {
  grid-area: notes;
}

.projects {
  grid-area: projects;
}

.documentation {
  grid-area: doc;
}

.cite {
  grid-area: source;
}

.content {
  grid-area: main;
  align-self: stretch;
}

@media only screen and (min-width: 700px) {
  nav {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1.5fr 2fr 1.5fr 3fr;
    grid-template-areas: "home notes projects doc source dead";
    padding: 0em;
    grid-gap: 0em;
    box-shadow: .1em -.1em 1em -.6em #20020a inset;
  }
}
