/* Footer styles */

.foot {
  background: #1c2c4e;
  color: #FFAB19;

  text-align: center;

  font-size: 2vh;
  box-shadow: -.1em -.5em 1em -.4em #20020a;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;


  grid-area: foot;
  align-self: bottom;
}

.foot a {
  text-decoration: none;
  color: #DBBEB8;
}

.foot a:visited {
  font-style: italic;
}

.copyright {
  margin-right: auto;
}

.li-img > img {
  max-height: 100%;
}

.li-img {
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 700px) {
      .li-img > img {
        max-height: 70%;
      }

      .fakeimg {
          display: none;
      }
}
