<h1>static</h1>

<div class="citation">
  <h2>Housecat</h2>:<br />
  <p>
    <cite>Housecat static site generator</cite>. Project page:
    <a href="https://github.com/mortie/housecat">https://github.com/mortie/housecat</a>
  </p>
</div>
