<h1>Background</h1>

<div class="citation first">
  <h2>Background Image</h2>:<br />
  <p>
    <cite>Chuck Lindsay.  The Neacola Mountains</cite>. Retrieved from
    <a href='https://www.nps.gov/lacl/learn/nature/mountains.htm'>National Park
    And Preserve Alaska</a>
  </p>
</div>
